---
import Layout from '../../layouts/Layout.astro';
---

<Layout>
    <main style="margin-top: 60px;padding-bottom: 80px;">
        <div>
            <h2>DATENSCHUTZERKLÄRUNG</h2>
            <p>
                Diese Datenschutzerklärung soll die Nutzer der Website der Kunstgießerei Kollinger GmbH gemäß Bundesdatenschutzgesetz, Telemediengesetz und Datenschutzverordnung über Art, Umfang
                und Zweck der Erhebung und Verwendung personenbezogener Daten durch den Websitebetreiber Kunstgießerei KOLLINGER GmbH, Daimlerstraße 4, 89275 Elchingen informieren.
                <br>
                <br>
                Die Kunstgießerei Kollinger GmbH nimmt Ihren Datenschutz sehr ernst, behandelt Ihre personenbezogenen Daten vertraulich und entsprechend der gesetzlichen Vorschriften.
                <br>
                <br>
                Bitte beachten Sie, dass Datenübertragung im Internet grundsätzlich Sicherheitslücken haben kann. Ein vollumfänglicher Schutz vor fremdem Zugriff kann nicht garantiert werden.
                <br>
                <br>
                Die Nutzung unserer Webseite ist in der Regel ohne Angabe personenbezogener Daten möglich. Soweit auf unseren Seiten personenbezogene Daten (beispielsweise Name, Anschrift oder
                E-Mail-Adresse) erhoben werden, erfolgt dies soweit möglich, stets auf freiwilliger Basis und entsprechend den gesetzlichen Vorgaben. Diese Daten werden ohne Ihre ausdrückliche Zustimmung
                nicht an Dritte weitergegeben.
                <br>
                <br>
                Als personenbezogene Daten gelten alle Informationen, die einen Rückschluss auf Sie als natürliche Person geben und eine Rückverfolgung auf Sie zulassen – also beispielsweise Ihr Name,
                Ihre E-Mail-Adresse und Telefonnummer.
                <br>
                <br>
                Nehmen Sie mit der Kunstgießerei Kollinger GmbH durch die angebotenen Kontaktmöglichkeiten Verbindung auf, werden Ihre Angaben gespeichert, damit auf diese zur Bearbeitung und
                Beantwortung Ihrer Anfrage zurückgegriffen werden kann. Ohne Ihre Einwilligung werden diese Daten nicht an Dritte weitergegeben.
                <br>
                <br>
                Sie als Nutzer erhalten auf Antrag Ihrerseits kostenlose Auskunft darüber, welche personenbezogenen Daten über Sie gespeichert wurden. Sofern Ihr Wunsch nicht mit einer gesetzlichen Pflicht zur
                Aufbewahrung von Daten (z. B. Vorratsdatenspeicherung) kollidiert, haben Sie ein Anrecht auf Berichtigung falscher Daten und auf die Sperrung oder Löschung Ihrer personenbezogenen Daten.
                <br>
                <br>
                Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten Kontaktdaten durch Dritte zur Übersendung von nicht ausdrücklich angeforderter Werbung und Informationsmaterialien
                wird hiermit ausdrücklich widersprochen. Die Kunstgießerei Kollinger GmbH behält sich ausdrücklich rechtliche Schritte im Falle der unverlangten Zusendung von Werbeinformationen,
                etwa durch Spam-Mails, vor.
                <br>
                <br>
                Stand: 15.07.2025
            </p>
            <h2>URHEBERRECHT</h2>
            <p>
                Die durch die Kunstgießerei Kollinger GmbH erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art
                der Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind nur für den privaten,
                nicht kommerziellen Gebrauch gestattet. Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte Dritter
                als solche gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen
                werden wir derartige Inhalte umgehend entfernen.
                <br>
                <br>
                Stand: 15.07.2025
            </p>
        </div>
        <div>
            <h2>URHEBERRECHT</h2>
            <b>Kontakt</b>
            <p>Wir stehen in allen gusstechnischen Fragen gerne beratend zur Verfügung.</p>
            <b>Kunstgießerei KOLLINGER GmbH</b>
            <p>
                Daimlerstraße 4
                <br>
                89275 ElchingenTelefon (0 73 08) 91 92 23
                <br>
                Telefax (0 73 08) 91 92 25
                <br>
                Website: www.kollinger-guss.de
                <br>
                E-Mail: info@kollinger-guss.de
            </p>
            <br>
            <br>
            <b>Impressumsangaben</b>
            <p>
                Geschäftsführer: Sylvia Muff, Markus Kollinger
                <br>
                Gerichtsstand: HRB Memmingen 7510
                <br>
                USt-ID: DE 128233872
                <br>
                <br>
                Lee Radox:
                <br>
                www.leeradox.com
            </p>
        </div>
        <div style="border: none;">
            <h2>
                ALLGEMEINE GESCHÄFTSBEDINGUNGEN (AGB)
                <br>
                DER KUNSTGIESSEREI KOLLINGER GMBH,
                <br>
                DAIMLERSTR. 4, 89275 ELCHINGEN
            </h2>
            <p>
                1. Lieferungen und Leistungen erfolgen nur zu den nachfolgenden Bedingungen, auch wenn wir uns in Zukunft nicht ausdrücklich darauf berufen. Einkaufsbedingungen des Bestellers gelten nur,
                wenn sie von uns schriftlich anerkannt worden sind.
                <br>
                <br>
                2. Kostenvoranschläge und Angebote sind – sofern nicht ausdrücklich anderes vereinbart – für die Dauer von 21 Kalendertagen verbindlich. Die zum Angebot gehörenden Unterlagen wie Entwürfe,
                Abbildungen, Modelle, Zeichnungen, Gewichte und Maßangaben, sind nur annähernd maßgebend, soweit sie nicht ausdrücklich als verbindlich bezeichnet sind. Bei umfangreichen oder wiederholten
                Kostenvoranschlägen, die nicht zu einem Auftrag führen, behalten wir uns die Berechnung einer Kostenpauschale vor. An von uns gefertigten Modellen, Entwürfen und anderen Unterlagen behalten
                wir uns Eigentums- und Urheberrecht vor.
                <br>
                <br>
                3. Aufträge gelten erst dann als zustande gekommen, wenn die Bestellung von uns schriftlich bestätigt oder in anderer Weise anerkannt wurde. Grundsätzlich haften wir nicht für Fehler, die sich aus
                den vom Auftraggeber eingereichten Unterlagen, z.B. Zeichnungen und Modelle, sowie durch ungenaue schriftliche oder mündliche Angaben ergeben.
                <br>
                <br>
                4. Unsere Preise gelten, wenn nicht ausdrücklich anderes vereinbart, ab Werk, zzgl. ges. MwSt., ausschließlich Verpackung. Wenn sich die Kostenfaktoren bis zum Zeitpunkt der Lieferung unvorher-
                gesehen gravierend ändern, behalten wir uns vor, die Preise entsprechend zu berichtigen. Sofern nach Modellerhalt im Angebot nicht veranschlagte Leistungen aus verfahrenstechnischen Gründen,
                sowie durch Änderungen und Ergänzungen auf Wunsch des Auftraggebers, erforderlich sind, werden diese zusätzlich in Rechnung gestellt.
                <br>
                <br>
                5. Lieferungen erfolgen ab Werk. Versand und Gefahren gehen spätestens auf den Besteller über, wenn die Ware im Werk von ihm in Empfang genommen wurde oder bei Transport unser Werk ver-
                lassen hat, ohne Rücksicht darauf, durch wen und auf welchem Weg die Beförderung erfolgt, und zwar auch dann, wenn noch weitere Leistungen wie Anfuhr, Aufstellung oder Montage von uns über-
                nommen werden.
                <br>
                <br>
                6. Wir behalten uns eine Mehr- und Minderlieferungen von bis 10% vor, die auch für Ersatzlieferungen gilt. Überlieferungen, die innerhalb dieser Toleranzen liegen, werden berechnet und nicht zu-
                rückgenommen. Es besteht kein Anspruch auf Nachfertigung bei Unterlieferung innerhalb der Toleranz. Bei Bauteilsätzen, die aus mehreren Teilen bestehen, besteht kein Anspruch auf Mengen-
                gleichheit der verschiedenen Teile. Auch hier finden die Mengenabweichungstoleranzen Ihre Anwendung. Willkürliche Abzüge werden nicht anerkannt.
                <br>
                <br>
                7. Rechnungen sind zu begleichen innerhalb 2 Wochen ohne Abzug. Bei größeren Aufträgen werden Teilzahlungen fällig nach besonderer Vereinbarung im Angebot. Bei Zahlungsverzug berechnen wir
                Zinsen nach den einschlägigen gesetzlichen Bestimmungen. Wechsel gelten erst nach Einlösung als Erfüllung. Diskont- und Wechselspesen gehen zu Lasten des Zahlungspflichtigen. Bei Erstlieferun-
                gen behalten wir uns Nachnahme vor. Bei Nichteinhaltung der Zahlungsbedingungen werden sämtliche offenstehenden Forderungen sofort fällig.
                <br>
                <br>
                8. Die von uns gelieferten Waren bleiben unser Eigentum bis zu ihrer vollständigen Bezahlung, ob bearbeitet oder nicht. Dieses Eigentumsrecht können wir jederzeit geltend machen. Bei Weitergabe
                der von uns gelieferten Gegenstände an Dritte geht das Eigentum an der dadurch entstandenen Forderung ohne weiteres auf uns über in Höhe der uns geschuldeten Beträge. Der Besteller darf die
                gelieferten Gegenstände weder verpfänden noch zur Sicherung übereignen. Bei Pfändungen, sowie Beschlagnahme oder sonstigen Verfügungen durch dritte Hand, hat uns der Auftraggeber unver-
                züglich davon zu unterrichten. Werden Liefergegenstände mit einem anderen Gegenstand fest verbunden, so überträgt der Auftraggeber, falls hierdurch Forderungen oder Miteigentum entstehen,
                seine Forderungen oder sein Miteigentum an dem neuen Gegenstand auf uns, der Höhe nach jedoch beschränkt auf den Wert der Vorbehaltsware.
                <br>
                <br>
                9. Beanstandungen können nur berücksichtigt werden, wenn sie innerhalb von 8 Kalendertagen nach Empfang der Lieferung bei uns eingehen. Verdeckte Mängel sind unverzüglich nach Feststellung
                zu rügen. Kleine Abweichungen in den Maßen können nicht zum Anlass einer Beanstandung genommen werden. Teile, die nachweislich einen Fabrikationsfehler haben, werden zurückgenommen.
                Wir behalten uns vor, eine Neulieferung oder Nachbesserung in unserem Hause vorzunehmen. Kosten für Reparatur oder Nachbesserung durch Dritte übernehmen wir nicht. Vorher und ohne unsere
                Zustimmung vorgenommene Änderungen an Lieferungen oder Leistungen schließen jeden Rechtsanspruch auf Mängelbeseitigung aus.
                <br>
                <br>
                10. Unsere Haftung – gleich aus welchem Rechtsgrund – ist ausgeschlossen, es sei denn, Ansprüche werden in diesen Bedingungen ausdrücklich zugesichert. In allen Fällen, in denen wir auf Grund
                vertraglicher oder gesetzlicher Anspruchsgrundlagen zum Schadensersatz verpflichtet sind, haften wir nur, soweit uns Vorsatz oder grobe Fahrlässigkeit zur Last gelegt werden kann. Anspruch auf
                Ersatz von Schäden die nicht am Liefergegenstand selbst entstanden sind, ist grundsätzlich ausgeschlossen. Das Risiko für die uns zum Abguss übergebenen Modelle bleibt uneingeschränkt beim Be-
                steller. Wir verpflichten uns, die Modelle sorgfältig zu behandeln. Bei Prototypen oder anderen technischen Teilen kann eine Mangelhaftigkeit wegen Nichteinhaltung von Maß- und Gewichtsanga-
                ben nur dann in Betracht kommen, wenn in erheblichem Umfang von dem abgewichen ist, was bei Gießverfahren nach dem Stand der Technik hätte eingehalten werden können. Für weitere techni-
                sche Eigenschaften übernehmen wir keinerlei Haftung. Des Weiteren haften wir nicht, wenn sich das vom Auftraggeber vorgeschriebene Metall, bzw. dessen Legierung, als für den speziellen Auftrag
                oder für eine nachträgliche Oberflächenbearbeitung für ungeeignet herausstellt. Modelle aus Wachs oder Kunststoff werden durch den Form- und Gießprozess aufgelöst und sind verloren. Das volle
                Ausschussrisiko trägt hierbei der Besteller.
                <br>
                <br>
                11. Die Einhaltung des Urheberrechts an den uns zum Abguss übergebenen Modellen obliegt ausschließlich dem Auftraggeber. Wir übernehmen keinerlei Prüfung oder Haftung in dieser Richtung
                und setzen voraus, dass unser Auftraggeber über die Berechtigung zum Ab- oder Nachguss verfügt.
                <br>
                <br>
                12. Die im Kundeneigentum stehenden Silikonformen werden zur evtl. nochmaligen Verwendung über einen Zeitraum von 12 Monaten bei uns eingelagert. Nach Ablauf dieser Frist ist eine weitere
                Einlagerung nur gegen Einlagerungsgebühr möglich. Der Kunde kann die Silikonformen zurücknehmen oder gegen Erstattung der Entsorgungskosten von uns entsorgen lassen. Für eingelagerte Sili-
                konformen werden gemäß unseren AGB 12 Monate nach der Auslieferung des ersten Gusses eine Einlagerungsgebühr von 5% des Neupreises der Form pro Jahr berechnet. Angefangene Monate wer-
                den anteilig mit 1/12 des Jahrespreises berechnet.
                <br>
                <br>
                13. Wenn nicht ausdrücklich anderes vereinbart, gilt die im Angebot genannte Lieferzeit nur annähernd. Sie beginnt nach Klärung aller Ausführungseinzelheiten und Erfüllung aller Voraussetzungen
                des Bestellers. Als Liefertag gilt der Tag der Bereitstellung im Werk. Verzögern sich Aufnahme, Fortführung oder Abschluss der Arbeiten aus Gründen, die der Besteller zu vertreten hat, werden wir
                insoweit von der Verpflichtung zur Einhaltung von vereinbarten Lieferterminen frei.
                <br>
                <br>
                14. Bei erheblicher, nachhaltiger Verschlechterung der geschäftlichen, insbesondere der Vermögensverhältnisse des Abnehmers, sind wir berechtigt, Sicherheit zu verlangen und falls diese nicht ge-
                nügend gestellt werden, vom Vertrage zurückzutreten.
                <br>
                <br>
                15. Erfüllungsort und Gerichtstand ist Elchingen, soweit nicht gesetzlich zwingend etwas anderes vorgeschrieben ist.
            </p>
        </div>
    </main>
</Layout>

<style>
h2 {
    font-size: 2rem;
}
p {
    line-height: 1.5rem;
}
div {
    padding: 3rem;
    border-bottom: 1px solid black;
}
</style>

