---
import AdminGalleryUploader from '../components/AdminGalleryUploader.tsx';
---

<html>
    <head><title>Admin Gallery</title></head>
    <body>
        <AdminGalleryUploader client:load />
    </body>
</html>
