---
import Cover from '../assets/images/header-technik-ref.jpg';
import { Image } from 'astro:assets';
import DynamicGallery from './DynamicGalleryTechnik.astro';
import './styles.scss';
---

<div id="container">
	<main>
		<section id="hero">
            <Image src={Cover} alt="Cover" class="cover-photo" />
		</section>
        <div class="description">
            <p class="art-title">UNSERE REFERENZEN - QUALITAET, DIE UEBERZEUGT</p>
            <p class="more">
                Mit Präzision, Leidenschaft und Erfahrung realisieren wir
                anspruchsvolle Projekte für Unternehmen und Institutionen
                welweit. Hier zeigen wier Ihnen eine Auswahl unserer Arbeiten
                - jedes Stück ein Beweis für unser handwerkliches Können und
                unserer Liebe zum Detail
            </p>
        </div>

        <DynamicGallery />
	</main>
</div>
