#container {
  padding-top: 60px;

  .description {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;

    .art-title {
      font-weight: bold;
      color: black;
      margin-top: 3rem;
      margin-bottom: 1rem;
    }

    .more {
      color: rgb(100, 100, 100);
    }
  }

  .gallery {
    display: grid;
    padding: 9rem;
    padding-top: 8rem;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 2rem;
    row-gap: 4rem;
    max-width: 1700px; /* Adjust the math for max columns + gap */
    box-sizing: border-box;

    /* Responsive breakpoints */
    @media (max-width: 1020px) {
      padding: 3rem;
    }
    
    .item {
      .image {
        width: 100%;
        height: 100%;
        aspect-ratio: unset; /* Reset aspect-ratio */
        object-fit: cover;
      }

      &.wide {
        grid-column: span 2;
        display: flex;
        flex-direction: column;

        .image {
          height: 100%; /* Keep same height as other items */
          aspect-ratio: unset;
        }
      }

      /* Ensure all items have same height wrapper */
      .image {
        height: 0;
        padding-bottom: calc(100% * 3 / 2); /* 2:3 ratio => 66.67% height */
        position: relative;

        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &.wide {
        .image {
          padding: 0;
        }
      }

      .item-body {
        margin-top: 2.25rem;
        border-top: 1px solid black;

        .item-name {
          color: black;
          font-weight: bold;
          margin-bottom: 0;
        }

        .item-desc {
          margin: 0;
          color: rgb(100, 100, 100);
        }
      }
    }
    
    /* Responsive breakpoints */
    @media (max-width: 1020px) {
      .item.wide {
        grid-column: span 1 !important;

        .image {
          padding-bottom: calc(100% * 3 / 2); /* 2:3 ratio => 66.67% height */
        }
      }
    }

    @media (min-width: 1800px) {
      margin: 0 auto;
    }

    // @media (max-width: 640px) {
    //   grid-template-columns: 1fr;
    //
    //   .item.wide {
    //     grid-column: span 1;
    //   }
    // }
  }
}

main {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 5rem;
}

#hero {
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem 0;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.cover-photo {
  width: 100vw;
  height: unset;
}
