---
import Cover from '../assets/images/cover.png';
import { Image } from 'astro:assets';
---

<div id="container">
	<main>
		<section id="hero">
            <Image src={Cover} alt="Cover" class="cover-photo" />
		</section>
	</main>
</div>

<style>
	#container {
        padding-top: 60px;
	}

	main {
		height: 100%;
		display: flex;
		justify-content: center;
        margin-top: 5rem;
	}

	#hero {
		display: flex;
		align-items: start;
		flex-direction: column;
		justify-content: center;
        padding: 1.5rem;
        border-top: 1px solid rgba(0, 0, 0, 0.3);
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	}

    .cover-photo {
        width: 100vw;
        height: unset;
    }
</style>
