---
import '../styles/global.scss';
import './styles.scss';

const urlPath = Astro.request.url;
const isKunst = urlPath.includes('/kunst');
const isTechnik = urlPath.includes('/technik');
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Kollinger</title>
	</head>
	<body>
        <nav>
            <p>
                KOLLINGER
                <a href="/kunst" class={`kunks ${isKunst ? 'bold' : ''}`}>KUNST</a>/
                <a href="/technik" class={`technik ${isTechnik ? 'bold' : ''}`}>TECHNIK</a>
            </p>
            <div class="links">
                <a href="/referenzen" class="active">REFERENZEN</a>
                <a href="/karriere">KARRIERE</a>
                <a href="/kontakt">KONTAKT</a>
            </div>
        </nav>
		<slot />
	</body>
</html>

